<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>library</title>
    <link rel="stylesheet" href="../styles/about.css" />
    <link rel="stylesheet" href="../styles/style.css" />
    <link rel="icon" href="../imgs/looogo.png" type="image/png" />
  </head>
  <body>
    <header>
      <div class="left">
        <img width="80px" src="../imgs/looogo.png" alt="Book Library logo" />
        <span>
          NETH <br />
          BOOKLIBRARY
        </span>
      </div>
      <nav>
        <ul>
          <li>
            <a href="index.html">Home</a>
          </li>
          <li>
            <a href="about.html">About</a>
          </li>
          <li>
            <a href="library.html">Library</a>
          </li>
          <li>
            <a href="Peraonal_Library.html">Personal Library</a>
          </li>
        </ul>
      </nav>
      <div class="right">
        <img src="../imgs/Bell.png" alt="Notification Bell" />
        <div class="pic">
          <img src="../imgs/profile-pic.png" alt="profile pic" />
          <span>user1@booklibrary.com</span>
        </div>
      </div>
    </header>

    <main>
      <img src="../imgs/nice photo.jpg" alt="book place" />
      <section class="about">
        <h3>About Us</h3>
        <p>
          Welcome to Neth BookPoint, your trusted source for a diverse range of
          books catering to every reader's taste. Established in 2021, we are
          dedicated to fostering a love for reading within our community through
          excellent service and a wide selection of titles, from timeless
          classics to the latest bestsellers. Our knowledgeable staff is here to
          help you find your next great read. Below, you'll find information
          about our four branches, including their locations and contact
          numbers. We look forward to welcoming you to our literary haven!
        </p>
      </section>
      <section class="branches">
        <h3>Our Branches</h3>
        <div class="container">
          <div class="hebron">
            <h4>Hebron Branch</h4>
            <p>
              <span> Main Street, City Center </span>
              <br />
              Contact: 059-456-7893 <br />
              Operating Hours: Monday to Saturday, 9 AM - 7 PM; Sunday, 10 AM -
              5 PM Services: In-library access, Special discounts for students,
              Workshops, Study spaces
            </p>
          </div>
          <div class="nablus">
            <h4>Nablus Branch</h4>
            <p>
              <span> Al-Quds Street, Al-Makhfiyya </span> <br />
              Contact: 059-821-9116 <br />
              Operating Hours: Monday to Saturday, 9 AM - 7 PM; Sunday, 10 AM -
              5 PM Services: In-library access, Special discounts for students,
              Workshops, Study spaces
            </p>
          </div>
          <div class="jerusalem">
            <h4>Jerusalem Branch</h4>
            <p>
              <span> Main Street, City Center</span> <br />
              Contact: 059-456-7893 <br />
              Operating Hours: Monday to Saturday, 9 AM - 7 PM; Sunday, 10 AM -
              5 PM Services: In-library access, Special discounts for students,
              Workshops, Study spaces
            </p>
          </div>
        </div>
      </section>

      <section class="commitment">
        <h3>Our Commitment</h3>
        <p>
          At Neth BookPoint, we strive to create a warm and inviting atmosphere
          for all book lovers. Our branches are staffed by passionate and
          knowledgeable team members who are eager to help you discover your
          next great read. Whether you’re in search of the latest release, a
          hidden gem, or simply a comfortable space to immerse yourself in a
          book, Neth BookPoint is your ideal destination. We understand the
          transformative power of reading and its ability to bring people
          together. With regular events and activities, we aim to foster a
          vibrant community of readers. Visit us at any of our branches or
          browse our offerings online; we’re here to enhance your reading
          experience and make every visit a delight.
        </p>
      </section>
    </main>

    <footer>
      <img src="../imgs/Rectangle 24.png" alt="" />
      <div>
        <span> &copy; 2024 | NETH BookLibrary. </span>
        <span>
          Visit our branches in Hebron, Gaza, Nablus, and Jerusalem, and
          register for our online platform to enjoy maximum benefits!
        </span>
      </div>
    </footer>
    <script src="../scripts/script.js"></script>
  </body>
</html>