<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Personal Library</title>
    <link rel="stylesheet" href="../styles/style.css" />
    <link rel="stylesheet" href="../styles/peraonalLibrary.css" />
    <link rel="icon" href="../imgs/looogo.png" type="image/png" />
  </head>
  <body>
    <header>
      <div class="left">
        <img width="80px" src="../imgs/looogo.png" alt="Book Library logo" />
        <span>
          NETH <br />
          BOOKLIBRARY
        </span>
      </div>
      <nav>
        <ul>
          <li>
            <a href="index.html">Home</a>
          </li>
          <li>
            <a href="about.html">About</a>
          </li>
          <li>
            <a href="library.html">Library</a>
          </li>
          <li>
            <a href="Peraonal_Library.html">Personal Library</a>
          </li>
        </ul>
      </nav>
      <div class="right">
        <img src="../imgs/Bell.png" alt="Notification Bell" />
        <div class="pic">
          <img src="../imgs/profile-pic.png" alt="profile pic" />
          <span>user1@booklibrary.com</span>
        </div>
      </div>
    </header>

    <main>
      <h2>Your Books</h2>
      <div id="personal-library"></div>
    </main>

    <footer>
      <img src="../imgs/Rectangle 24.png" alt="" />
      <div>
        <span> &copy; 2024 | NETH BookLibrary. </span>
        <span>
          Visit our branches in Hebron, Gaza, Nablus, and Jerusalem, and
          register for our online platform to enjoy maximum benefits!
        </span>
      </div>
    </footer>
    <script src="../scripts/script.js"></script>
  </body>
</html>